[include]
	path = .gitconfig.user
[core]
	editor = vi
	autocrlf = input
[color]
	ui = true
	diff = true
[log]
	decorate = none
[alias]
	co = checkout
	st = status
	man = help
	mt = mergetool
	fo = fetch origin
	f = fetch
	changes = log --pretty=format:\"%h %cr %cn %Cgreen%s%Creset\" --name-status
	grep = log --all --oneline --grep
	l = log
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>' --abbrev-commit --date=relative
	lgf = log --follow
	ll = log -1
	bl = blame
	bc = branch --all --contains
	b = branch
	rh = reset --hard
	unstage = reset HEAD
	uncommit = reset --soft HEAD^
	sf = submodule forach
	su = submodule update
	ba = branch
	pf = pull --ff-only
	c = commit
	ca = commit --amend
	wip = commit -m WIP
	cp = cherry-pick -x
	cpc = cherry-pick --continue
	cpa = cherry-pick --abort
	rc = rebase --continue
	rbc = rebase --continue
	dt = difftool
[blame]
	date = iso
[push]
	default = tracking
[receive]
	denyDeleteCurrent = warn
[rerere]
	enabled = true
	autoupdate = true	
[diff]
	tool = bc4
	renames = true
	mnemonicprefix = true
	algorithm = patience
	guitool = beyondcompare3
[difftool]
	prompt = false
[difftool "bc4"]
	cmd = \"C:/Program Files (x86)/Beyond Compare 4/bcompare.exe\" \"$LOCAL\" \"$REMOTE\"
	path = C:/Program Files (x86)/Beyond Compare 4/BCompare.exe
[difftool "araxis"]
	path = C:\\\\Program Files\\\\Araxis\\\\Araxis Merge\\\\compare.exe
[difftool "kdiff3"]
	path = C://Program Files//TortoiseHg//kdiff3.exe
[merge]
	summary = true
	tool = bc4
	renamelimit = 10000
[mergetool]
	prompt = false
[mergetool "bc4"]
	trustExitCode = true
	path = C:/Program Files (x86)/Beyond Compare 4/BCompare.exe
[mergetool "araxis"]
	path = C:\\\\Program Files\\\\Araxis\\\\Araxis Merge\\\\compare.exe
[mergetool "kdiff3"]
	path = C:\\\\Program Files\\\\TortoiseHg\\\\kdiff3.exe
[credential]
	helper = !\"C:/Program Files (x86)/GitExtensions/GitCredentialWinStore/git-credential-winstore.exe\"
[difftool "beyondcompare3"]
	path = C:/Program Files (x86)/Beyond Compare 4/bcomp.exe
	cmd = \"C:/Program Files (x86)/Beyond Compare 4/bcomp.exe\" \"$LOCAL\" \"$REMOTE\"
