[include]
	path = .gitconfig.user
[core]
	editor = vi
	autocrlf = Input
[color]
	ui = true
	diff = true
[log]
	decorate = none
[alias]
	co = checkout
	st = status
	man = help
	mt = mergetool
	fo = fetch origin
	f = fetch
	changes = log --pretty=format:\"%h %cr %cn %Cgreen%s%Creset\" --name-status
	grep = log --all --oneline --grep
	l = log
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>' --abbrev-commit --date=relative
	lgf = log --follow
	ll = log -1
	bl = blame
	bc = branch --all --contains
	b = branch
	rh = reset --hard
	unstage = reset HEAD
	uncommit = reset --soft HEAD^
	sf = submodule foreach
	su = submodule update
	pf = pull --ff-only
	c = commit
	ca = commit --amend
	wip = commit -m WIP
	cp = cherry-pick -x
	cpc = cherry-pick --continue
	cpa = cherry-pick --abort
	rc = rebase --continue
	rbc = rebase --continue
	dt = difftool
	serve = !git daemon --base-path=. --export-all --reuseaddr --informative-errors --verbose
	ri = rebase -i
	cm = commit -m
	au = add -u
	ra = rebase --abort
	pr = pull --rebase
[blame]
	date = iso
[push]
	default = simple
[receive]
	denyDeleteCurrent = warn
[rerere]
	enabled = true
	autoupdate = true
[diff]
	tool = bc4
	renames = true
	mnemonicprefix = true
	algorithm = patience
	guitool = beyondcompare3
[difftool]
	prompt = false
[difftool "bc4"]
	cmd = \"C:/Program Files/Beyond Compare 4/BCompare.exe\" \"$LOCAL\" \"$REMOTE\"
[difftool "vsdiff"]
	cmd = \"C:/Program Files (x86)/Microsoft Visual Studio/2017/Professional/Common7/IDE/vsdiffmerge.exe\" \"$LOCAL\" \"$REMOTE\" //t
	keepbackup = false
	trustexistcode = true
[merge]
	summary = true
	tool = bc4
	renamelimit = 10000
[mergetool]
	prompt = false
[mergetool "bc4"]
	cmd = \"C:/Program Files/Beyond Compare 4/BCompare.exe\" \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
	trustExitCode = true
[mergetool "vsmerge"]
	cmd = \"C:/Program Files (x86)/Microsoft Visual Studio/2017/Professional/Common7/IDE/vsdiffmerge.exe\" \"$REMOTE\" \"$LOCAL\" \"$BASE\" \"$MERGED\" //m
	keepbackup = false
	trustexistcode = true
